.projects {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #3B373B;
  }
  .projects .projectTitle {
    text-align: center;
    color: #f0f0f0;
    font-size: 60px;
    font-weight: bolder;
  }
  
  .projects h1 {
    text-align: center;
    /* color: #3B373B; */
    font-size: 60px;
    font-weight: bolder;
  }

  .projectList {
    width: 70vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    padding-bottom: 100px;
  }
  
  /* MENU ITEM STYLING */
  
  .projectItem {
    /* border-radius: 10px; */
    width: 400px;
    height: 300px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    /* border-width: 5px;
    border-color: #3e497a;
    border-style: solid; */
    background-color: #3B373B;
    /* box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2); */
    text-align: center;
    color: #f0f0f0;
  }
  .projectItem:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    transition: 0.1s ease-in;
    cursor: pointer;
    background-color: #676E76;
  }

  .professionalProjectItem {
    /* border-radius: 25px; */
    width: 400px;
    height: 75px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    /* border-width: 2.5px; */
    /* border-color: #CBD4DD; */
    /* border-style: solid; */
    background-color: #3B373B;
    text-align: center;
    color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .professionalProjectItem:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    transition: 0.1s ease-in;
    cursor: pointer;
    /* border-color: #D1EDFD; */
    background-color: #676E76;
  }
  
  .projectItem .bgImage {
    /* border-top-left-radius: 10px; */
    /* border-top-right-radius: 10px; */
    width: 100%;
    height: 235px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .projectItem h1 {
    font-size: 25px;
  }

  .professionalProjectItem h1 {
    font-size: 25px;
  }

  .filterContainer {
    margin-top: 75px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .tagContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .tag {
    background-color: #CBD4DD;
    border-radius: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .tag:hover {
    background-color: #F5D7EB;
    transition: 0.2s ease-in;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 2200px) {
    .projectList {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media only screen and (max-width: 1300px) {
    .projectList {
      grid-template-columns: 1fr;
    }
  }
  
  @media only screen and (max-width: 1300px) {
    .projectList {
      width: 100%;
    }
    .projectItem {
      width: 400px;
      height: 300px;
    }
  }

  @media only screen and (max-width: 800px) {
    .projectItem {
      width: 300px;
      height: 300px;
    }

    .projects h1 {
      font-size: 35px;
    }

    .projectItem h1 {
      font-size: 25px;
    }

    .professionalProjectItem {
      width: 300px;
      height: 75px;
    }

    .professionalProjectItem h1 {
      font-size: 25px;
    }
  }